@serviceList: serviceList;
.@{serviceList}-wrapper {
  .@{serviceList} {
    padding: 48px 24px;
    .title-line-wrapper {
      width: 312px;
      margin: 10px auto 30px;
      .title-line {
        // animation: page1TitleLine 3s ease-in-out 1.5s infinite;
        transform: translateX(124px);
      }
    }
    >h1,
    >p {
      text-align: center;
    }
    .title-wrapper{
      margin: 0 auto 60px;
    }
    .ant-tabs-nav-container-scrolling {
      padding-right: 40px;
      padding-left: 40px;
      .ant-tabs-tab-arrow-show{
        cursor: pointer;
      }
      svg {
        font-size: 18px;
      }
    }
    .serviceItem-img-wrapper {
      margin: 0 auto;
      padding: 0 24px 24px;
      .block {
        margin-bottom: 48px;
        .serviceItem-block-content {
          display: block;
          background: #fff;
          border: 1px solid #e9e9e9;
          border-radius: 4px;
          padding: 10px;
          text-align: center;
          position: relative;
          overflow: hidden;
          .page-pro();
          border: none;
          transition: box-shadow .3s @ease-out, transform .3s @ease-out;
          & > span {
            width: 100%;
            display: block;
            background: @line-color;
            & img{
              width: 100%;
            }
          }
          & p {
            width: 100%;
            line-height: 40px;
            font-size: 14px;
          }
          &:hover {
            & p {
              bottom: 0;
            }
          }
        }
      }
    }

    .serviceItem-button {
      text-align: center;
      .ant-btn {
        padding: 8px 40px;
        border-radius: 20px;
        line-height: 1.5;
        height: 40px;
        border: none;
        color: #fff;
        background-color: #3c89f6;
        background-image: linear-gradient(135deg, #82b5ff 0%, #3c89f6 100%);
        box-shadow: 0 9px 22px fade(#5f9bf1, 35);
        transition: color .45s @ease-in-out, box-shadow .45s @ease-in-out, transform .45s @ease-in-out;
        will-change: transform, box-shadow;
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 14px 26px fade(#5f9bf1, 40);
        }
      }
    }

    .serviceItem-tag {
      font-size: 16px;
      & i {
        width: 12px;
        height: 14px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
      &-name {
        display: inline-block;
      }
    }
    .ant-tabs-bar {
      text-align: center;
    }
    .ant-tabs {
      .ant-tabs-nav {
        float: none;
        text-align: center;
      }
    }
    &-tabs-wrapper {
      position: relative;
    }
    &-content {
      display: flex;
      align-items: center;
    }
    &-text {
      padding: 24px 48px;
    }
    &-img {
      padding: 24px 48px;
    }
    .ant-tabs-tabpane {
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 767px) {
  .@{serviceList}-wrapper {
    overflow: hidden;
    .@{serviceList} {
      max-width: 100%;
      &-content {
        display: block;
      }
      &-text,
      &-img {
        text-align: left;
        padding: 0;
        margin-top: 32px;
      }
      .ant-tabs-bar {
        width: auto;
        .ant-tabs-tab-arrow-show{
          display: none;
          opacity: 0;
        }
        .ant-tabs-nav-wrap{
          overflow: auto;
          display: flex;
          .ant-tabs-nav-scroll{
            overflow: auto;
            .ant-tabs-nav{
              & div {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin-bottom: 12px;
                .ant-tabs-tab{
                  height: 46px;
                  margin: 8px 22px;
                  padding: 10px 16px;
                  border: 1px solid #ccc;
                  border-radius: 6px;
                  &-active{
                    border-color: #1890ff;
                  }
                }
              }
              & .ant-tabs-ink-bar{
                display: none!important;
              }
            }
          }
        }
      }
    }
  }
}
