@about: about;
.@{about}-wrapper {
  overflow: hidden;
  .@{about} {
    height: 100%;
    padding: 100px 24px;
    .title-line-wrapper {
      width: 312px;
      margin: 10px auto 20px;
      .title-line {
        animation: page1TitleLine 3s ease-in-out 1.5s infinite;
      }
    }
    >.title-wrapper {
      margin: 0 auto 20px;
    }

    &-content{
      width: 100%;
      margin-bottom: 40px;
      padding: 1% 12%;
      font-size: 16px;
      text-indent: 32px;
      line-height: 28px;
    }

    &-block {
      padding: 0 4%;
      display: inline-block;
      text-align: center;
      margin-bottom: 24px;
      &-item {
        & a {
          display: block;
          width: 100%;
          height: 245px;
          position: relative;
          border-radius: 8px;
          overflow: hidden;
          transition: all 0.5s;
          &:hover{
            transition: all 0.5s;
            & .overlay{
              opacity: 0;
              z-index: 0;
              transition: all 0.5s;
            }
            & img{
              transform: scale(1.2);
              transition: all 0.5s;
            }
          }
          & img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            transition: all 0.5s;
          }
          & .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #9e9e9e;
            opacity: 0.2;
            cursor: pointer;
            z-index: 1;
            transition: all 0.5s;
          }
          & .about-block-title {
            position: absolute;
            left: 50%;
            font-size: 30px;
            top: 50%;
            margin-left: -60px;
            margin-top: -22.4px;
            text-align: center;
          }
        }

      }
      &-wrapper {
        position: relative;
        height: 100%;
        top: 25%;
      }

      &.queue-anim-leaving {
        position: relative !important;
      }

      &-icon {
        width: 100px;
        height: 100px;
        margin: auto;
      }



    }
  }
}

@media screen and (max-width: 767px) {
  .@{about}-wrapper {
    min-height: 880px;
  }
}
