@about: about;
.@{about}-wrapper {
  overflow: hidden;
  .@{about} {
    height: 100%;
    padding: 48px 24px;
    .title-line-wrapper {
      width: 312px;
      margin: 10px auto 30px;
      .title-line {
        // animation: page1TitleLine 3s ease-in-out 1.5s infinite;
        transform: translateX(124px);
      }
    }
    >.title-wrapper {
      margin: 0 auto 30px;
      & h1 {
        margin-bottom: 10px!important;
      }
    }

    &-content{
      width: 100%;
      margin-bottom: 40px;
      padding: 0 4%;
      &-text{
        font-size: 16px;
        text-indent: 32px;
        line-height: 28px;
        position: relative;
      }
    }

    &-block {
      padding: 0 4%;
      display: inline-block;
      text-align: center;
      min-height: 200px;
      margin-bottom: 24px;
      img {
        width: 100%;
      }

      &-wrapper {
        position: relative;
        height: 100%;
        top: 25%;
      }

      &.queue-anim-leaving {
        position: relative !important;
      }

      &-icon {
        width: 100px;
        height: 100px;
        margin: auto;
      }

      &-title {
        line-height: 32px;
        margin: 10px auto;
        font-size: 24px;
      }

    }
  }
}

@media screen and (max-width: 767px) {
  .@{about}-wrapper {
    .@{about} {
      &-content{
        padding: 0;
        &-text{
          line-height: 28px;
          position: relative;
          overflow: hidden;
          max-height: 168px;
          &::after{
            content: "...";
            position: absolute;
            bottom: 0px;
            right: 0;
            background: -webkit-linear-gradient(left, transparent, #fff 55%);
            background: -o-linear-gradient(right, transparent, #fff 55%);
            background: -moz-linear-gradient(right, transparent, #fff 55%);
            background: linear-gradient(to right, transparent, #fff 55%);
          }
        }
      }
    }
  }
}
