@feature: feature;
.@{feature}-wrapper {

  .@{feature} {
    height: 100%;
    padding: 48px 24px;
    .title-line-wrapper {
      width: 312px;
      margin: 10px auto 30px;
      .title-line {
        // animation: page1TitleLine 3s ease-in-out 1.5s infinite;
        transform: translateX(124px);
      }
    }
    .title-wrapper {
      margin: 0 auto 30px;
    }

    &-block {
      display: inline-block;
      text-align: center;
      padding: 28px;
      padding-left: 28px!important;
      padding-right: 28px!important;
      transition: box-shadow 0.45s ease 0.1s;
      &:hover {
        box-shadow: 0 11px 56px rgba(100,100,136,0.15);
      }
      &-item {
        margin: auto;
      }
      img {
        width: 100%;
        height: 100%;
      }

      &-wrapper {
        position: relative;
        height: 100%;
        padding: 20px 0;
        margin: 0 auto!important;
      }

      &.queue-anim-leaving {
        position: relative !important;
      }

      &-icon {
        width: 140px;
        height: 140px;
        margin: auto;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #edeaea;
      }

      &-title {
        line-height: 32px;
        margin: 10px auto;
        font-size: 20px;
      }
      &-title2 {
        line-height: 32px;
        margin: 10px auto;
        font-size: 16px;
        color: #000;
      }
      &-tip{
        font-size: 14px;
        color: #999;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .@{feature} {
    padding: 24px!important;
    .title-line-wrapper {
      margin: 6px auto 20px;
    }
    .title-wrapper {
      margin: 0 auto!important;
      h1 {
        margin-bottom: 0;
      }
    }
    &-block {
      &-wrapper{
        padding: 0!important;
      }
      &-icon {
        width: 140px;
        height: 140px;
      }
    }
  }
}
