@service: service;
.@{service}-wrapper {
  min-height: 550px;
  overflow: hidden;
  background: #eff3f6;
  .@{service} {
    height: 100%;
    padding: 64px 24px;
    .title-wrapper {
      margin: 0 auto 50px;
      .title-line-wrapper {
        width: 312px;
        margin: 10px auto 20px;
        .title-line {
          animation: page1TitleLine 3s ease-in-out 1.5s infinite;
        }
      }
    }
    .banner2-wrapper{
      height: 550px;
      width: 100%;
      .banner-anim {
        height: 100%;
      }
      .banner-anim-thumb span.active {
        background: @primary-color;
      }
    }
    &-block {
      padding: 0 4%;
      display: inline-block;
      text-align: center;
      min-height: 200px;
      margin-bottom: 24px;
      img {
        width: 100%;
      }
      &-wrapper {
        position: relative;
        height: 100%;
        top: 25%;
        padding: 20px 0;
      }

      &.queue-anim-leaving {
        position: relative !important;
      }

      &-icon {
        width: 100px;
        height: 100px;
        margin: auto;
      }

      &-title {
        line-height: 32px;
        margin: 10px auto;
        font-size: 24px;
      }
    }
    &-block-box {
      border-radius: 4px;
      background: #fff;
      text-align: center;
      color: #666;
      min-height: 480px;
      margin: auto;
      border: 1px solid transparent;
      .page-pro();
      &.active, &:hover {
        border-color: @primary-color;
        background: #fff;
        .@{service} {
          &-top-wrapper {
            background: @primary-color;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
          }
          &-name,
          &-money,
          &-button {
            color: #fff;
          }
          &-button {
            background: @primary-color;
          }
        }
      }
    }
    &-top-wrapper {
      width: calc(~"100% + 1px");
      padding: 16px 24px;
      overflow: hidden;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom: 1px solid #eef0f3;
    }
    &-img{
      width: 100%;
    }
    &-content {
      font-size: 12px;
      line-height: 2;
      font-weight: 300;
      margin: 10px 30px;
      text-align: left;
      &-title{
        font-size: 16px;
        font-weight: 600;
      }
      & ul{
        padding-left: 15px;
        li{
          list-style: circle;
          font-size: 14px;
        }
      }
    }
    &-line {
      display: block;
      height: 1px;
      background: #d9d9d9;
      margin: 0 24px;
    }
    &-button-wrapper {
      margin: 30px;
    }
    &-button {
      padding: 0 24px;
    }
  }
}

@media screen and (max-width: 767px) {
  .@{service}-wrapper {
    // min-height: 880px;
  }
}
