@processContact: processContact;
.@{processContact}-wrapper {
  background: @layout-body-background;
  .@{processContact} {
    height: 100%;
    overflow: hidden;
    padding: 0 24px 56px 24px;
    &-title {
      font-size: 18px;
      color: #000;
      text-align: left;
    }
    & .title-content {
      text-align: left;
    }
    &-block-wrapper {
      position: relative;
      .@{processContact}-block {
        display: inline-block;
        padding: 48px 24px;
        vertical-align: top;
        text-align: center;
        .@{processContact}-icon {
          display: inline-block;
          width: 50px;
          height: 50px;
          overflow: hidden;
          border-radius: 50%;
          vertical-align: top;
          img{
            width: 46px;
          }
        }
        .@{processContact}-text {
          display: inline-block;
          padding-left: 16px;
        }
        .@{processContact}-button {
          & a {
            padding-left: 0;
            color: @text-color;
            line-height: 18px;
            &:hover{
              color: @primary-color;
            }
          }
        }
        &.clear-both {
          clear: both;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .@{processContact}-wrapper {
    .@{processContact} {
      padding: 12px 24px;
      &-block {
        padding: 12px!important;
        &-wrapper {
          height: auto;
        }
        &-title {
          font-size: 20px;
        }
        &.queue-anim-leaving {
          position: relative !important;
        }
      }
    }
  }
}
