@processDesc: processDesc;
.@{processDesc}-wrapper {
  padding: 48px 24px;
  .@{processDesc} {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 0 4%;
    margin: 0 auto;
    .title-wrapper{
      margin-bottom: 0px;
      text-align: center;
    }
    .title-line-wrapper {
      width: 312px;
      margin: 10px auto 30px;
      .title-line {
        // animation: page1TitleLine 3s ease-in-out 1.5s infinite;
        transform: translateX(124px);
      }
    }
    &-block-wrapper {
      width: 100%;
      height: 100%;
    }
    &-block-item{
      margin-bottom: 8px;
      font-family: PingFang SC;
      // text-align:justify;
      // text-justify:distribute-all-lines;/*ie6-8*/
      // text-align-last:justify;/* ie9*/
      // -moz-text-align-last:justify;/*ff*/
      // -webkit-text-align-last:justify;/*chrome 20+*/
      & div{
        text-align: justify;
        line-height: 28px;
        font-size: 16px;
        text-indent: 32px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .@{processDesc}-wrapper {
    padding: 0px 24px;
    .@{processDesc} {
      padding: 0;
      margin: 0 auto;
      .title-wrapper{
        h1{
          margin-bottom: 0;
        }
      }
      .title-line-wrapper {
        margin: 6px auto 20px;
      }
      &-block-item{
        margin-bottom: 18px;
        font-family: PingFang SC;
        text-align: justify;
      }
    }
  }
}
