<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>江苏趣通市政工程有限公司官网</title>
  <link rel="icon" type="image/x-icon" href="<%= context.publicPath %>favicon.ico"/>
  <link rel="shortcut icon" type="image/x-icon" href="<%= context.publicPath %>favicon.ico"/>
  <meta name="keywords" content="南京，管道，疏通，清淤，清理，检测，维修，污水，化粪池，河道，箱涵，封堵，非开挖修复，雨污分流，超高压冲洗，大型管道，专业，清洗，江苏趣通市政工程有限公司" />
  <meta name="description" content="江苏趣通市政工程有限公司是一家专业从事市政工程、管道工程、环保工程等服务的公司，公司主要经营业务有管网疏通清淤、管网检测维护、管道清洗维修、河道整治清淤、污水池清理、化粪池清掏等" />
</head>
<body>
  <div id="root"></div>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?3b563a18a6253734c37989131729f96c";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</body>
</html>
