<!--
 * @Author: kim
 * @Date: 2019-11-25 20:58:16
 * @LastEditors: OBKoro1
 * @LastEditTime: 2019-11-25 21:00:11
 * @Description: 描述
 -->
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>EMYS</title>
</head>
<body>
  <div id="root"></div>
  <script>
    // var _hmt = _hmt || [];
    // (function() {
    //   var hm = document.createElement("script");
    //   hm.src = "https://hm.baidu.com/hm.js?3b563a18a6253734c37989131729f96c";
    //   var s = document.getElementsByTagName("script")[0];
    //   s.parentNode.insertBefore(hm, s);
    // })();
    </script>
</body>
</html>
