@import './assets/style/antMotionStyle.less';
@font-face {
  font-family: 'iconfont';  /* project id 1538650 */
  src: url('//at.alicdn.com/t/font_1538650_ohh4gyfo91.eot');
  src: url('//at.alicdn.com/t/font_1538650_ohh4gyfo91.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1538650_ohh4gyfo91.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1538650_ohh4gyfo91.woff') format('woff'),
  url('//at.alicdn.com/t/font_1538650_ohh4gyfo91.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1538650_ohh4gyfo91.svg#iconfont') format('svg');
}

.header-top{
  height: 64px;
  max-width: 1200px;
  padding: 0 24px;
  overflow: hidden;
  display: flex;
  margin: auto;
  &-wraper{
    background: #e6f7ff;
    width: 100%;
  }
  &-logo{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & img{
      height: 24px;
      width: 24px;
    }
  }
  &-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #000;
    font-size: 16px;
  }
}
.contentWrap{
  min-height: calc(~"100vh - 64px");
  margin: auto;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
.loading{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1993;
  width: 100vw;
  min-height: 100vh;
  background: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .spinner {
    width: 100px;
    height: 100px;
    background-color: @primary-color;
    border-radius: 100%;
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
  }
}

@keyframes dong {
  0% {
    transform: translateX(calc(~"100vw - 80px - 252px"));
  }
  50% {
    transform: translateX(calc(~"(100vw - 80px  - 252px)/2"));
  }
  100% {
    transform: translateX(0px);
  }
}

.ant-alert.ant-alert-closable{
  overflow: hidden;
}
.ant-alert-message{
  overflow: hidden;
  display: inline-block;
  animation: dong 10s linear infinite;
}

.el-carousel__indicators--outside{
  margin-top: 30px !important;
}
.el-carousel__indicator button{
  height: 4px;
  transform: skewX(45deg);
}
.el-carousel__indicator.is-active button{
  background: @primary-color;
}

.ant-back-top{
  right: 20px !important;
  bottom: 100px !important;
  .ant-back-top-content{
    background-color: @disabled-color !important;
    &:hover {
      background-color: @primary-color !important;
    }
  }
}

.ant-list-item{
  border: 1px solid #e9e9e9!important;
  border-radius: 6px;
  margin-bottom: 20px!important;
  padding: 16px 18px!important;
  transition: all 0.5s;
  &:hover{
    // border-color: red!important;
    transition: all 0.5s;
    transform: translateY(-4px);
    box-shadow: 0 2px 24px rgba(0,0,0,.1);
  }
  .ant-list-item-main{
    color: #9d9c9c;
  }
  .ant-list-item-meta-title{
    color: #000!important;
    font-size: 20px!important;
  }
}

// 多行省略号
.imitate_ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;//文本溢出显示省略号
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar{
  width: 1px;  /*滚动条宽度*/
  height: 1px;  /*滚动条高度*/
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;  /*滚动条的背景区域的圆角*/
  background-color: transparent;/*滚动条的背景颜色*/
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb{
  border-radius: 10px;  /*滚动条的圆角*/
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #333;  /*滚动条的背景颜色*/
}
